@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    font-family: 'varela-round', sans-serif;
}

.top {
    background-image: url("../images/chtopbar.png");
    padding-top: 9em;
    padding-bottom: 5em;
}

.toptext {
    text-align: center;
    background-color: black;
    color: white;
    padding: 2em;
}