@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    margin: 0;
    margin-top: 0;
    font-family: 'varela-round', sans-serif;
    background: url("../images/whaleback.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

.headbar {
    background-color: black;
    color: white;
}

.top {
    background: url("../images/chtopbar.png");
    background-size: cover;
    padding-top: 9em;
    padding-bottom: 5em;
}

.topbox {
    background-color: rgba(0,0,0,0.5);
    padding: 2em;
    margin-left: 21.5em;
    margin-right: 22em;
    border-radius: 1em;
}

.toptext {
    text-align: center;
    color: rgb(37, 235, 241);
}